$PRIMARY_COLOR: #007bff;

#root, .ant-layout {
  height: 100%;
  background: #ffffff;
}

.ant-layout-content {
  display: flex;
  flex-direction: column;
}
.site-layout-content {
  flex-grow: 1;
  min-height: 280px;
  background: #fff;
}

.ant-layout-header {
  padding: 0 30px;
  background: #ffffff;
  box-shadow: 0 2px 8px #f0f1f2;
  a {
    color: #000;
    font-size: 1.25rem;
    &:hover {
      color: $PRIMARY_COLOR;
    }
  }
}

.ant-menu-item-active {
  svg {
    color: $PRIMARY_COLOR;
  }
}

.ant-layout-header .logo {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  margin: 16px 24px 16px 0;
  color: $PRIMARY_COLOR;
  background: rgba(255, 255, 255, 0);
  font-size: 1.75rem;
}
.ant-row-rtl .ant-layout-header .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout-footer {
  padding: 15px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 400px;

  h1 {
    color: $PRIMARY_COLOR;
    font-size: 30px;
  }
}

.a-tag {
  color: $PRIMARY_COLOR;
  cursor: pointer;
  &:hover {
    color: #40a9ff;
  }
}

.ant-input-search {
  margin-bottom: 20px;
}

.ant-table table {
  min-width: 600px !important;
  tr.row-expired-active > td, tr.row-expired-active:hover > td {
    background: #fff2e8;
    opacity: .6;
  }
}